.buttonComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: pink;
  width: 100%;
  border-radius: $border-radius;
  color: $fontcolor1;
  font-size: 18px;
  height: 2.5rem;
  border-style: none;
}