.homeContainer {
  color: $fontcolor2;
}

.buttonRegister, .buttonLogin {
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.home-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3d394;
  color: white; 
}

.home-master-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-super-first-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFBF42;
  border-radius: $border-radius;
}

.home-first-section{
  margin-top: 40px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home-dogs-img{
  width: 50%;
}



.home-super-second-section{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFBF42;
  border-radius: $border-radius;
  margin-top: 40px;
}

.home-second-section{
  margin-top: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-lover-img{
  width: 60%;
}

.space-bar{
  width: 100%;
  height: 40px;
  background-color: #f3d394;
}