.homeContainer {
  color: $fontcolor2;
}

.buttonRegister, .buttonLogin {
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.mainHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3d394;
  color: white; 
}

.sectionHome {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1HomeMaster {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFBF42;
  border-radius: $border-radius;
}

.h1Home {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.dogsHome{
  width: 50%;
}



.h2HomeMaster{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFBF42;
  border-radius: $border-radius;
  margin-top: 40px;
}

.h2Home{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loverDog{
  width: 60%;
}