.headerComponent {
  width: 100%;
  background-color: #FFBF42;
  display: flex;
  flex-direction: row;
};

.dogHeader {
  width: 10%;
  margin-left: 30px;
 
};

.title {
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  font-size: 100px;
};

.loginHeader {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
};