.headerComponent {
  width: 100%;
  background-color: #FFBF42;
  display: flex;
  flex-direction: row;
};

.space-header {
  width: 16%;
}
.dog-header {
  display: flex;
  width: 10%;
  cursor: pointer;
};

.title {
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  font-size: 100px;
};

