.care-request-h2 {
  padding: 40px 0px 0px 40px;
}

.care-request-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 110px;
  margin-left: 35px;
}

.care-request-submit {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  width: 92%;
  height: 60px;
}
